<div class="mx-4 my-4 flex-col space-y-4">
  <div class="max-w-full flex justify-center">
    <h2 class="text-2xl font-bold text-[#00d26a]">
      Naja Online Editor 🐍
    </h2>
  </div>
  <div class="flex justify-center gap-x-4">
    <ng-container *ngIf="compiledCode != ''; else errorTemplate">
      <div class="float-right w-1/2">
        <app-code-container>
          <ngx-codemirror [options]="editorOptions" [(ngModel)]="code" [autoFocus]="true" />
        </app-code-container>
      </div>
      <div class="float-right w-1/2">
        <app-code-container>
          <ngx-codemirror [options]="resultOptions()" [ngModel]="compiledCode" />
        </app-code-container>
      </div>
    </ng-container>
    <ng-template #errorTemplate>
      <ng-container *ngIf="compilationError != ''; else codeOnlyTemplate">
        <div class="float-right w-1/2">
          <app-code-container>
            <ngx-codemirror [options]="editorOptions" [(ngModel)]="code" [autoFocus]="true"></ngx-codemirror>
          </app-code-container>
        </div>
        <div class="float-right w-1/2">
          <app-code-container class="text-red-500">
            <p class="px-4 py-4">{{ compilationError }}</p>
          </app-code-container>
        </div>
      </ng-container>
    </ng-template>
    <ng-template #codeOnlyTemplate>
      <div class="float-right w-full">
        <app-code-container>
          <ngx-codemirror [options]="editorOptions" [(ngModel)]="code" [autoFocus]="true"></ngx-codemirror>
        </app-code-container>
      </div>
    </ng-template>
  </div>
  <div class="flex justify-start gap-x-4">
    <app-compile-btn lang="python" (action)="compile($event)"></app-compile-btn>
    <app-compile-btn lang="java" (action)="compile($event)"></app-compile-btn>
  </div>
</div>